<form [formGroup]="calculateForm" >
    <h3>Saving calculator</h3>
    <app-toggle [onToggle]="onToggle" class="toggle" (toggled)="onToggled($event)"></app-toggle>
    <div class="input-container">
        <label>{{title1}}</label>
        <div>
            <button class="leftButton">$</button>
            <input type="number" name="totalAmount" formControlName="totalAmount" placeholder="total amount">
            <div *ngIf="">
                Total amount is required.
            </div>
        </div>
    </div>
   
    <div class="input-container">
        <label>{{title2}}</label>
        <div>
            <button class="leftButton" (click)="prevMonth()" [disabled]="isLessDate()"><</button>
            <input class="finishDate" type="text" formControlName="finishDate" [(ngModel)] = "currentDate">
            <button class="rightButton" (click)="nextMonth()">></button>
        </div>
    </div>
    
    <div class="result-container">
        <div class="result">
            <p>{{amountType}} amount</p>
            <p class="amount">${{monthlyAmount |  number:'1.0-2'}}</p>
        </div>
        <div class="message">
            <p>{{message}}</p>
        </div>
    </div> 
    <div class="input-container">
        <button [disabled]="!calculateForm.valid" class="button" (click)="calculate()">Finish</button>
    </div>
</form>
