<form [formGroup]="calculateForm" >
    <div class="title" ><h3>Saving calculator</h3></div>
    <div>
        <app-toggle [onToggle]="onToggle" class="toggle" (toggled)="onToggled($event)"></app-toggle>
    </div>
    <div class="input-container">
        <label>{{title1}}</label>
        <div class="field">
            <button class="leftButton">$</button>
            <input type="number" name="totalAmount" formControlName="totalAmount">
            <div *ngIf="">
                Total amount is required.
            </div>
        </div>
    </div>

    <div class="input-container">
        <label>{{title2}}</label>
        <div class="field">
            <button class="leftButton" (click)="prevMonth()" [disabled]="isLessDate()"><</button>
            <input class="finishDate" readonly type="text" formControlName="finishDate" [(ngModel)] = "currentDate">
            <button class="rightButton" (click)="nextMonth()">></button>
        </div>
    </div>
    
    <div class="result-container">
        <div class="result">
            <p>{{amountType}} amount</p>
            <p class="amount">${{resultAmount |  number:'1.0-2'}}</p>
        </div>
        <div class="message" *ngIf="onToggle; else elseBlock">
            You are planning <span class="boldtext">{{numberOfMonth}} monthly </span>deposits to reach your <span class="boldtext">${{calculateForm.value.totalAmount | number}}</span> goal by <span class="boldtext">{{this.monthList[this.currentMonth]}} {{this.currentYear}}</span> 
        </div>
        <ng-template #elseBlock>
            <div class="message">
                You are saving <span class="boldtext">${{calculateForm.value.totalAmount | number}} monthly </span>to save <span class="boldtext">${{resultAmount | number}}</span> by <span class="boldtext">{{this.monthList[this.currentMonth]}} {{this.currentYear}}</span> 
            </div>
        </ng-template>
    </div> 
    <div class="input-container">
        <button [disabled]="!calculateForm.valid" class="button" (click)="calculate(calculateForm.value.totalAmount, currentDate)">Finish</button>
    </div>
</form>
