form {
  margin: 0 auto;
  width: 400px;
  height: 606px;
  left: 377px;
  top: 82px;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: Rambla;
}
h3 {
  margin: 45px 45px 0px 45px;
  width: 124px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
}
div {
  margin-top: 20px;
  margin-bottom: 0px;
}

label {
  font-size: 14px;
  line-height: 17px;
}

.field {
  margin: 0;
}

.title {
  padding-top: 10px;
}

input {
  width: 260px;
  height: 42px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  font-family: Rambla;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.input-container {
  top: 20px;
  font-style: normal;
  font-weight: normal;
  margin-left: 45px;
  margin-right: 45px;

}

.input-container:focus {
  border: 1px solid #39c; /* Рамка при получении фокуса */
 }

.result-container {
  width: 306px;
  height: 146px;
  margin-left: 45px;
  margin-right: 45px;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.03));
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
}

.icon { 
  background: #F4F8FA; 
  border-radius: 4px 0px 0px 4px;
  top: 2px;
  left: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 42px;
  height: 42px;
  color: #828282;
  text-align: center;
  margin-right: -42px;
  position: relative;
  z-index: 1;
  float: left;
} 

i + input {
  padding-left: 42px;
}

.leftButton{
  background: #F4F8FA; 
  border-radius: 4px 0px 0px 4px;
  top: 2px;
  left: 1px;
  font-style: normal;
  font-weight: normal;
  width: 42px;
  height: 42px;
  color: #828282;
  text-align: center;
  margin-right: -42px;
  position: relative;
  z-index: 1;
  float: left;
}

.rightButton {
  background: #F4F8FA; 
  border-radius: 4px 0px 0px 4px;
  top: 2px;
  right: 5px;
  font-style: normal;
  font-weight: normal;
  width: 42px;
  height: 42px;
  color: #828282;
  text-align: center;
  margin-left: -42px;
  position: relative;
  z-index: 1;
  float: right;
}

.leftButton + input {
  padding-left: 42px;
}

.rightButton + input {
  padding-right: 42px;
}

button {
  color: white;
  font-size: 16px; 
  width: 308px;
  height: 42px;
  /* Blue 1 */
  background: #2F80ED;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

button, 
button:active, 
button:focus {
    outline: none;
}
.result {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px 20px 20px; */
  margin: 20px;
}
.amount {
  color: #2F80ED;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  background: #F4F8FA;
  padding: 0 20px;
  margin: 0;
  bottom: -20px;
}
.toggle {
  top: 45px;
  margin-left: 45px;
}

@font-face {
  font-family: "Rambla";
  src: url('/assets/fonts/rambla/Rambla-Regular.ttf') format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}